body {
  	background-color: rgb(64, 64, 64);
}

h1 {
	font-family: verdana;
 	color: white;
 	text-align: center;
}

p {
 	font-family: verdana;
  	font-size: 20px;
  	color: white;
  	text-align: center;
}

button{
	text-align: center;
	background-color: rgb(18, 214, 184);
	border: none;
	color: white;
	padding: 15px 32px;
	display: inline-block;
	font-size: 20px;
}

.container {
  height: 97vh;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}